.header {
  padding: 10px 30px;
  background-color: #212121;
  color: rgb(5, 250, 209);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
