
<!-- <div>
    <div class="bg-secondary bg-gradient">
        <h2 class="mb-2">Add your veggies:</h2><br>
        <input class="me-3 border border-danger" type="text" #ipbox>
        
        <button class="ms-2 mb-5 border border-danger" (click)="inputValueMethodEvent.emit(ipbox.value)">Add</button>
    </div>
</div> -->


<div>
    <div class="container">
        <h2 class="add-item-h2">Add your veggies:</h2><br>
        <div class="input-btn">
        <input class="input" type="text" #ipbox >    
        <button class="add-btn" (click)="handleItem(ipbox.value)" >Add</button>
    </div>
    </div>
</div>






















