.container{
    display: flex;
    background-color:rgb(125, 197, 125);
    border:1px solid rgb(125, 197, 125);
    border-radius: 8px;
    margin-top: 50px;
    padding:20px;
}
.add-item-h2{
    color:white;
}
.input{
    margin-top: 5px;
    margin-left: 5px;
    border:none;
    border-radius: 5px;
    padding:8px;
}
.add-btn{
    margin-left: 5px;
    border-radius: 5px;
    border:none;
    padding:8px;
}
.add-btn:hover{
    background-color: rgb(125, 197, 125);
    color:white;
}